<ion-header *ngIf="showContent">
  <ion-toolbar>
    <ion-title class="title_response">Respostas dos Usuários</ion-title>
    <ion-buttons slot="end">
      <ion-button color="white" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="showContent">
  <ion-item class="datetime-item">
    <ion-label>Filtrar por:</ion-label>
    <ion-datetime
      class="small-datetime"
      display-format="DD/MM/YYYY"
      picker-format="DD/MM/YYYY"
      [(ngModel)]="startDate"
      (ionChange)="filterResponses()"
    ></ion-datetime>
    <ion-label>até</ion-label>
    <ion-datetime
      class="small-datetime"
      display-format="DD/MM/YYYY"
      picker-format="DD/MM/YYYY"
      [(ngModel)]="endDate"
      (ionChange)="filterResponses()"
    ></ion-datetime>
  </ion-item>

  <div class="button-container">
    <ion-button expand="block" (click)="downloadPDF()">
      <ion-icon slot="start" name="download-outline"></ion-icon>
      Exportar Respostas
    </ion-button>
    <ion-button expand="block" color="primary" (click)="goToNextPage()">
      <ion-icon slot="start" name="arrow-forward-outline"></ion-icon>
      Próxima Página
    </ion-button>
  </div>

  <div id="chart-container" class="chart-container"></div>
</ion-content>

<ng-template #noAccess>
  <ion-content class="ion-padding">
    <ion-label class="no-responses">Acesso não autorizado.</ion-label>
  </ion-content>
</ng-template>

<style>
  .datetime-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ion-button {
    --border-radius: 12px;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: #3880ff;
    --color: #fff;
    text-transform: uppercase;
  }

  ion-button[color="danger"] {
    --background: #eb445a;
    --color: #fff;
  }

  ion-icon {
    font-size: 1.2em;
  }

  .chart-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
  }
</style>
