ion-header {
  ion-toolbar {
    --background: #3880ff;
    --color: #fff;
  }

  .title_response {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
}

ion-content {
  --background: #f4f4f4;

  .ion-padding {
    padding: 16px;
  }

  ion-list {
    margin-top: 20px;

    ion-item {
      background: #fff !important; /* Forçar o fundo branco */
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      ion-label {
        h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          color: #666;
        }

        .details {
          p {
            font-size: 14px;
            color: #333;
          }
        }
      }

      ion-button {
        --border-radius: 8px;
        margin-top: 10px;
      }
    }
  }

  .custom-fab-button {
    margin: 10px;
  }

  .chart {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .no-responses {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #999;
  }
}

@media (max-width: 768px) {
  ion-content {
    ion-list {
      ion-item {
        ion-label {
          h2 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }

          .details {
            p {
              font-size: 12px;
            }
          }
        }

        ion-button {
          font-size: 14px;
        }
      }
    }

    .chart {
      width: 100%;
      height: 300px;
    }
  }
}
